*{
  margin:0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.topsvg{
  position: absolute;
  right: 85%;
  width: 25%;
  z-index:-1;
}

.svg{
  position: absolute;
  top: 80%;
  left: 50%;
  z-index:-1 ;
  transform: translate(-50%, 15%);
}